*{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
main{
    box-sizing: border-box;
    width: 1220px;
    height: 700px;
    margin:30px auto;
    padding: 60px 50px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(220,220,220);
    position: relative;
}
.clear{
    clear: both;
}
#big{
    width: 440px;
    height: 440px;
    border: 1px solid lightgray;
    margin: 20px 20px;
    position: absolute;
    top: 0;
    left: 560px;
    background-size: 1760px 1760px;
    display: none;
    background-color: white;
    background-repeat: no-repeat;
}
#m-left{
    width: 540px;
    height: 700px;
    box-sizing: border-box;
    float:left;
}
.mask{
    width: 110px;
    height: 110px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #e5efff;
    opacity: 0.6;
    display: none;
}
#part{
    width: 80px;
    float: left;
}
#part>li{
    width: 80px;
    height: 80px;
    border: 1px solid rgb(240,240,240);
    border-radius: 5px;
    margin-bottom: 20px;
    background-size: 54px 54px;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
}
#part>.part-active{
    border: 3px solid rgb(204,204,204);
}
#main-bg{
    width: 440px;
    height: 440px;
    float: right;
    background-image: url("img1/bg0.png");
    background-size: 440px 440px;
    position: relative;
}
#m-right{
    width:560px;
    float: right;
}
.title{
    border-bottom: 1px solid rgb(235,235,235);
}
.title>h1{
    width: 420px;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    padding: 0 0 20px;
    font-weight: 400;
}
.title>h2{
    color: rgb(212,77,68);
    font-weight: 700;
    text-align: right;
    position: relative;
    top: -23px;
    right: 0px;
}
.style,.color{
    line-height: 30px;
}
.style>span,.size>span,.state>span{
    display: inline-block;
    color: rgb(102,102,102);
    margin-top: 30px;
}
.color>span,.num>span{
    display: inline-block;
    color: rgb(102,102,102);
    margin-top: 30px;
    position: relative;
    top: -40px;
}
.style>div,.color>div,.size>div{
    display: inline-block;
    width: 470px;
    margin-left: 20px;
    border-bottom: 1px dashed rgb(240,240,240);
}
.num>div{
    display: inline-block;
    width: 470px;
    margin-left: 20px;
}
.state>div{
    display: inline-block;
    width: 470px;
    margin-left: 20px;
}
.style>div>span{
    display: inline-block;
    width: 80px;
    height: 40px;
    border: 1px solid rgb(106,143,230);
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    margin: 40px 0;
    cursor: pointer;
}
.color-cycle{
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 2px;
    margin: 30px 12px;
    border: 1px solid rgb(229,229,229);
    border-radius: 50%;
    cursor: pointer;
}
.size-choose{
    display: inline-block;
    height: 32px;
    padding: 2px 18px;
    margin: 30px 8px;
    line-height: 32px;
    border-radius: 5px;
    border: 1px solid rgb(229,229,229);
    cursor: pointer;
}
.size-active{
    border: 1px solid rgb(106,143,230);
}
.num{
    position: relative;
}
.num>div>span{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 30px 20px;
    cursor: pointer;
}
.add{
    background-image: url("img1/btn.png");
    background-repeat: no-repeat;
    background-position: -3px 2px;
}
.num>div>span:nth-child(2){
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 0 20px;
    cursor: auto;
    position: absolute;
    top: 9px;
    left: 126px;
}
.sub{
    background-image: url("img1/btn.png");
    background-repeat: no-repeat;
    background-position: 0px -58px;
}
.state{
    border-top: 1px solid rgb(235,235,235);
    border-bottom: 1px solid rgb(235,235,235);
}
.state>div>span{
    display: inline-block;
    font-size: 12px;
    color: rgb(153,153,153);
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 20px 0;
}
.product-top{
    width: 1220px;
    height: 75px;
    line-height: 75px;
    margin: 0 auto;
    border: 1px solid rgb(220,220,220);
    background-image: url("img1/product-bg.png");
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.rel-top{
    width: 1220px;
    height: 75px;
    line-height: 75px;
    margin: 30px auto 0 auto;
    border: 1px solid rgb(220,220,220);
    background-image: url("img1/product-bg.png");
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product-top>h3,.rel-top>h3{
    width: 100%;
    padding-left: 30px;
    font-weight: 500;
    box-sizing: border-box;
}
.product-main{
    width: 1220px;
    margin: 0 auto;
}
.product-main>img{
    width: 100%;
    margin-top: -5px;
}
.rel-main{
    width: 1220px;
    height: 440px;
    margin: 0 auto 30px auto;
    background-color: white;
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.rel-main>a{
    display: inline-block;
    margin: 0;
    width: 305px;
    height: 440px;
    box-sizing: border-box;
    border: 1px solid rgba(210,210,210,0.7);
    border-top: none;
    background-repeat: no-repeat;
    background-position: center 20%;
    float: left;
}
.rel-main>a:hover{
    box-shadow:0 0 30px 5px #EDEDED inset;
}
.rel-main>a:nth-child(1),.rel-main>a:nth-child(2),.rel-main>a:nth-child(4),.rel-main>a:nth-child(5),.rel-main>a:nth-child(6){
    border-right: none;
}
.rel-main .hg_titlt{
    text-align: center;
    margin-top: 305px;
    font-size: 14px;
    font-weight: 600;
}
.rel-main .hg_titlt+p{
    overflow: hidden;
    padding-top: 15px;
    font-size: 12px;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
    text-align: center;
}
.hotGoods-cycle{
    text-align: center;
    margin-top: 10px;
}
.hotGoods-cycle-span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(185,185,185,0.7);
    border-radius: 50%;
    margin: 0 3px;
}
.hotGoods-price{
    font-size: 18px;
    font-family: Arial;
    color: #d44d44;
    font-weight: 700;
    margin-top: 15px;
    text-align: center;
}
.hotGoods-pay{
    text-align: center;
    display: none;
}
.hotGoods-pay>button{
    margin-top:15px;
    height: 25px;
    width: 90px;
    text-align: center;
    border-radius: 3px;
}
.hotGoods-pay>button:nth-child(1){
    border: 1px solid rgba(185,185,185,0.8);
    background-color: rgb(253,253,253);
}
.hotGoods-pay>button:nth-child(2){
    border: 1px solid rgba(185,185,185,0.8);
    background-color: rgb(90,133,221);
    color: white;
}
.hotGoods-cycle-span:hover{
    border: 2px solid rgba(185,185,185,0.8);
}
.fix-bar{
    height: 60px;
    width: 100%;
    background-color: rgb(250,250,250);
    border-bottom: 1px solid rgb(230,230,230);
}
.fix-bar>div{
    width: 1220px;
    margin: 0 auto;
    line-height: 60px;
}
.fix-bar-left{
    float: left;
}
.fix-bar-tittle>span:nth-child(1){
    display: inline-block;
    color: #707070;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px
}
.fix-bar-tittle>span:nth-child(2){
    display: inline-block;
    color: #707070;
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
    line-height: 20px;
}
.fix-bar-tittle>span:nth-child(3){
    display: block;
    font-size: 12px;
    color: #9d9d9d;
    font-weight: 500;
}
.fix-bar-right{
    float: right;
}
.fix-bar-right>span:nth-child(1){
    font-size: 20px;
    font-weight: 700;
    color: #d44d44;
}
.fix-bar-right>a:nth-child(2){
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    color: #646464;
    font-weight: 700;
    background-color: #f8f8f8;
    border: 1px solid rgb(222,222,222);
    border-radius: 5px;
    margin: 0 20px;
}
.fix-bar-right>a:nth-child(2):hover{
    background-color: rgb(231,231,231);
}
.fix-bar-right>a:nth-child(3){
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    color: white;
    font-weight: 600;
    background-color: rgb(75,107,182);
    border: 1px solid rgb(222,222,222);
    border-radius: 5px;
}